version: '3.8'

services:
  redis:
    image: redis:alpine
    ports: ["6379:6379"]

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["8000:8000"]
    env_file: .env
    depends_on: [redis]

  scheduler:
    build:
      context: .
      dockerfile: scheduler/Dockerfile
    ports: ["8001:8001"]
    env_file: .env
    depends_on: [redis]
    environment:
          - REGISTRY_URL=http://registry:8002

  registry:  # NEW
      build:
        context: .
        dockerfile: registry/Dockerfile
      ports:
        - "8002:8002"
      env_file: .env
      depends_on:
        - redis
